

.character-generator {
  display: flex;
  height: 100%;

  &__initials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 3rem;
    font-weight: 900;

    &__display {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
    }

    &__first {

    }

    &__last {

    }
  }

  &__button {
    &--submit {

    }

    &--reset {

    }
  }
}

.generator-container {
}

