@use './globals' as g;
@use './colours.scss' as c;


$base-font-family: 'Cera Round Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$base-font-weight: 500;
$wrapper-height: calc(100svh - 4rem);



// --- mixins // --- layers
@mixin layer-1 {
  background-color: c.$mid-3;
}
@mixin layer-2 {
  background-color: c.$mid-2;
}
@mixin layer-3 {
  background-color: c.$mid-1;
}
@mixin layer-4 {
  background-color: c.$light-3;
}
@mixin layer-5 {
  background-color: c.$light-2;
}
@mixin layer-6 {
  background-color: c.$light-1;
}

@mixin box-shadow {
  box-shadow:
    0.25rem 0.5rem 0.5rem rgba(c.$dark-3, 0.2),
    0.5rem 1rem 1rem rgba(c.$dark-3, 0.1),
    0.75rem 1.5rem 1.5rem rgba(c.$dark-3, 0.025)
}
@mixin box-shadow-light {
  box-shadow: 1px 2px 12px #0000002b;// , inset 0 0 4px #0000001c;
}
@mixin box-shadow-dark {
  box-shadow: 1px 2px 12px #00000075;// , inset 0 0 4px #0000001c;
}

@mixin shadow-transition {
  transition: box-shadow 0.3s ease-in-out; /* Smooth transition for the shadow */
}

@mixin base-styles {
  // // @include layer-4;
  box-sizing: border-box;
  font-family: $base-font-family;
  // font-weight: 500;
  // color: $dark-3
}

* {
  @include base-styles();
}

body {
  @include layer-4();
  color: c.$dark-3;

  margin: 0;
  padding: 0;
  // width: 100vh !important;
  // overflow-x: hidden;
}

.box {
  border: 1px solid whitesmoke;
  
  &.-wrapper {
    margin: auto;
    padding: 0.25rem;
  }

  &.-w2 {
    border-width: 2px;
  }

  &.-dotted {
    border-style: dotted;
  }

  &.-solid {
    border-style: solid;
  }

  &.-dashed {
    border-style: dashed;
  }

  &.-rounded {
    border-radius: 0.5rem;
  }

  &.-white {
    border-color: whitesmoke;
  }

  &.-black {
    border-color: black;
  }

  &.-grey {
    border-color: grey;
  }

  &.-red {
    border-color: red;
  }

  &.-green {
    border-color: green;
  }

  &.-blue {
    border-color: blue;
  }
  &.-skyblue {
    border-color: skyblue;
  }

  &.-yellow {
    border-color: yellow;
  }

  &.-purple {
    border-color: purple;
  }

  &.-orange {
    border-color: orange;
  }

  &.-pink {
    border-color: pink;
  }

  &.-aqua {
    border-color: aqua;
  }

  &.-coral {
    border-color: coral;
  }

  &.-lime {
    border-color: lime;
  }

  &.-teal {
    border-color: teal;
  }
  
  &.-rose {
    border-color: rgb(216, 99, 114);
  }
}


.svh-100 {
  height: 100svh;
}

// --- layer classes
.layer-1 {
  @include layer-1
}
.layer-2 {
  @include layer-2
}
.layer-3 {
  @include layer-3
}
.layer-4 {
  @include layer-4
}
.layer-5 {
  @include layer-5
}
.layer-6 {
  @include layer-6
}

.box-shadow {
  @include box-shadow();
}
.box-shadow-light {
  @include box-shadow-light();
}

// ----- ACTUAL CLASSES ----- //

.App {
  @include layer-4;
  // @include base-styles();
  
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: calc(100svh);
  font-weight: 500;
}

.app-wrapper {
  flex: 1;
  max-height: $wrapper-height
}

@media (max-width: 768px) {
  // .app-wrapper {
  //   // padding: 1rem;
  // }
}

.settings-card {
  @include layer-5;
  @include box-shadow;

  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: c.$dark-3;

}

.settings-nav {
  border-radius: 0.5rem;
  flex-grow: 3;
}

.st-input {
  min-width: 60%;
  border: 0;
  border-radius: 0.25rem;
  height: 2.5rem;
  
  &.-button, &.-b {
    min-width: 60%;
  }

  &.-nbutton, &.-nb {
    width: 100%;
  }
}



.dangerous-button {
  background-color: rgb(220, 100, 100);
  // I need to add 'on hover' styles
}

.btn {
  font-weight: 500;
  color: white;

  // :hover {
  //   color: white;
  // }
}

.st-modal {
  // padding: 1rem;
  .modal-content {
    background-color: c.$light-2;
    border-bottom-color: c.$dark-3;
  }
}

.patreon-benefits {
  margin: 0 auto;
  display: inline-block;
  padding-left: 0;
  text-align: left;
  // border: 1px solid blue;

}


.card {
  @include layer-6();
  @extend .box-shadow;
  // background-color: c.$light-1;

  padding: 1rem;
  border: 0px;
  color: c.$dark-3;
  border-radius: 0.5rem;
}

.phe {
  background-clip: content-box;
  border: 2px dotted rgb(226, 91, 67);
  background-color:  rgba(226, 91, 67, 25%);
}

.pa-button {
  background-color: c.$patreon-orange;
  border: 0;

  &.-dark {
    background-color: c.$patreon-blue;
  }
}

.btn {
  &.-warning {
    &:active {
      background-color: red;
      color: white;
    }
  }
}

.screen-container {
  margin-top: 1rem;
}

.email-element {
  &.-open {
    @extend .card;
  }

  &.-closed {
  }
}

.container-fluid {
  overflow: auto;
}


// --- scroll bar
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-track {
  @include layer-5();
}
::-webkit-scrollbar-thumb {
  @include layer-3();
  border-radius: 1rem;
  background-clip: padding-box;
}


//font weights
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}





// bootstrap re-fixes

.alert {
  // padding: 1rem;
  // font-size: 80%;
  font-weight: 400;
}

.alert__new-feature {
  max-width: fit-content;
  // max-width: 600px;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  &__link {
    font-weight: bold;
    color: rgb(5, 81, 96); // this needs fixing asap! I need to do a proper rehaul of the styling system to stop all these colours from breaking!
  }
  
}


.text-adjust {
  &-s {
    &-25 {
      font-size: 25%;
    }
    &-50 {
      font-size: 50%;
    }
    &-75 {
      font-size: 75%;
    }
    &-80 {
      font-size: 80%;
    }
  }
}