

.container {
  padding: 0;
  // border: 1px solid red;
}

.row {
  margin: 0;
  // border: 1px solid skyblue;
}

.col {
  padding: 0;
  // border: 1px solid red;
}




.note {
  position: absolute;
  bottom: calc(100% + 1rem);

  margin: 0 auto;
  padding: 0.25rem;

  width: 95%;

  left: 0;
  right: 0;
}

.stats-page {
  height: 100%;
  border: 1px solid white;
}

.primary-stats {
  padding: 0.25rem;
}

.stat-item, .ability-score {
  flex: 1 0 30%;
  // max-width: 33%;
  text-align: center;
}

.bottom-bar {
  // position: relative;
  width: fit-content;
}

.roll-window {
  position: absolute;
  bottom: calc(100% + 1rem);

  margin: 0 auto;
  padding: 0.25rem;

  width: 95%;

  left: 0;
  right: 0;
}



.fake-navbar {
  height: 4rem;
}

.character-sheet {
  // this has a fixed height
  height: 100%; // this is the problem here
}

.page-window {
  flex-grow: 1;
  // this will flex to fill remaining space
  overflow-y: scroll;
}

.stats-page {
  // this is inside page-window, it will scroll
}


.toolbar {
 // this will flex to fit its contents
}