

.container {
  padding: 0;
  // border: 1px solid red;
}

.row {
  margin: 0;
  // border: 1px solid skyblue;
}

.col {
  padding: 0;
  // border: 1px solid red;
}









.stats-page {
  height: 100%;
  border: 1px solid white;
}

.primary-stats {
  padding: 0.25rem;
}

.ability-score {
  flex: 1 0 25%;
}

.bottom-bar {
  position: relative;
}

.roll-window {
  position: absolute;
  bottom: calc(100% + 1rem);

  margin: 0 auto;
  padding: 0.25rem;

  width: 95%;

  left: 0;
  right: 0;
}