@use './App.scss' as a;
@use './colours.scss' as c;

// // Override Bootstrap's default color variables
// $theme-colors: (
//   "primary": c.$primary,
//   "secondary": c.$secondary,
// );



.class-set-viewer {
  @include a.layer-6;
  @include a.box-shadow;
  
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;

  .header-row {
    justify-content: space-between;
    align-items: center;
  }

  .set-image {
    width: auto;
    // max-width: 50%;
    max-height: 500px;
    // max-height: 50vh;
    border-radius: 1rem;
    object-fit: cover;
  }
}

// @media (min-width: 576px) { 
//   .class-set-viewer {
//     max-width: 100%;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { 
//   .class-set-viewer {
//     max-width: 75%;
//   }
// }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .class-set-viewer {
    max-width: 90%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .class-set-viewer {
    max-width: 90%;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .class-set-viewer {
    max-width: 1200px;
  }
}

.small {
  height: fit-content;
  max-height: 60.5781px;
  overflow: hidden;
}

.expanded {
  height: 200px;
  max-height: 1000px; /* Set a reasonable max height */
}


.viewer-switch {
  padding: 0;
  scale: 200%;
}

.viewer-toggle-button {
  border-radius: 0.6rem !important;
  border: 0;

  &.-open-close {
    width: 70px;
  }

  &:active {
    color: white;
  }
}

.-active {
  @include a.layer-1;

  &.-close {
    background-color: palevioletred;
  }
}

.-inactive {
  border: 0;
  background-color:  #0099cc;
}

.view-button-row {
  height: 100% !important;
}

/* Example CSS to adjust carousel size */
.item-carousel {
  max-width: 100%; /* Set your desired maximum width */
  margin: 0 auto;

  // transition: max-height 0.5s ease-in-out;

  /* Example CSS to adjust image size within carousel */
  .carousel-item {
    border-radius: 0.6rem;
    overflow: hidden; /* Hide overflow to prevent image covering other elements */
    
    img {
      // border-radius: 0.6rem;
      max-width: 100%; /* Images won't exceed the width of the carousel */
      height: auto; /* Allow images to maintain aspect ratio */
    }
  }

  .carousel-caption {
    font-weight: 600;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 1); /* Add a shadow offset by 2px horizontally and vertically, with a blur of 4px */
  }
}



// // Import Bootstrap's SCSS files
// @import "~bootstrap/scss/bootstrap";