

.contact {
  // margin-top: auto;
  padding: 1rem;
  background-color: #212b20;
  justify-self: flex-end;

  * {
    color: white !important;
  }

  // margin-top: auto;
  justify-self: flex-end;
}

p {
  font-weight: 200;
}

.support {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/**
the compiler told me to use flex-end instead of end for some reason;

Warning
(19:3) autoprefixer: end value has mixed support, consider using flex-end instead
*/



@media (max-width: 768px) {
  .contact {
    justify-content: center;
  }

  .support {
    justify-content: center;
  }
}