

.contact {
  padding: 1rem;
  background-color: #212b20;

  * {
    color: white !important;
  }

  // margin-top: auto;
  justify-self: flex-end;
}

p {
  font-weight: 200;
}

.support {
  display: flex;
  justify-content: end;
  align-items: end;
}

@media (max-width: 768px) {
  .contact {
    justify-content: center;
  }

  .support {
    justify-content: center;
  }
}