@use './globals' as g;
@use './App.scss' as a;
@use './colours.scss' as c;

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
// font-family: 'Borel', cursive;

@mixin normal-text {
  color: inherit; /* Inherit the color from parent */
  text-decoration: none; /* Remove underlines or other decorations */
  font-weight: normal; /* Reset font weight to normal */
  /* Add other styling properties as needed */
}

// .home {
//   background-color: c.$rtc-background !important;
// }

.tool-container {
  // display
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  // alignment
  justify-content: center;
  align-content: center;
  // layout
  padding-bottom: 4rem;
  gap: 1rem;
  margin: auto;
}

.tool-card {
  display: flex;
  flex-direction: column;
  // flex: 0 1 auto;
  position: relative;
  width: 20%;
  max-width: 40%;
  // height: fit-content;
  max-height: 60%;

  border-radius: 1rem;
  overflow: hidden;

  // background-color: c.$rtc-primary;
  color: c.$rtc-text;
  text-decoration: none;
  
  font-weight: 400;

  @include a.layer-6;
  @include a.box-shadow;

  .-title {
    position: absolute;
    top: 0.5rem;
    left: 50%; /* Set the title to be at the horizontal center */
    transform: translateX(-50%); /* Adjust horizontally for centering */
    width: 100%;
    text-align: center;
    font-weight: 800;
    z-index: 1;
    color: white;

  }

  .-image-container {
    // aspect-ratio: 3/2;
    flex: 1 1 auto;
    // width: 100%;
    // padding-bottom: calc(100% * 2/3);
    background-color: aquamarine;
    overflow: hidden; /* Hide overflow to prevent image covering other elements */
  }

  .-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .-description {
    flex: 0 1 auto;
    // padding: 1rem;
    max-height: 8rem;
    // this is working so weirdly, I may just ask a dude to do it?
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    // overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    // background-color: c.$rtc-secondary;
    color: c.$rtc-text;
    transform: scale(1.02);
    @include a.box-shadow-dark;
  }
}

.texter {
  // max-width: fit-content;
  margin: auto;
}

.arcana-header {
  margin-top: 1rem;
  font-weight: 900;
  text-align: center;
}

// .home-title {
//   font-weight: 900;
//   // font-family: 'Borel', cursive;
// }

.intro-blurb {
  margin: 1rem auto;
  width: 70%;
  font-size: 125%;
}

.normal-text {
  color: inherit; /* Inherit the color from parent */
  text-decoration: none; /* Remove underlines or other decorations */
  font-weight: normal; /* Reset font weight to normal */
  /* Add other styling properties as needed */
}

// .tool-row {
//   display flex
// }

// html,
// body {
//   height: 100%;
//   margin: 0;
// }

// .box {
//   display: flex;
//   flex-flow: column;
//   height: 100%;
// }

// .box .row {
//   border: 1px dotted #0313fc;
// }

// .box .row.header {
//   flex: 0 1 auto;
// }

// .box .row.content {
//   flex: 1 1 auto;
// }

// .box .row.footer {
//   flex: 0 1 40px;
// }







/* Media query for smaller screens (e.g., phones) */
@media (max-width: 768px) {
  .tool-container {
    display: flex;
    flex-direction: column;
  }

  .tool-card {
    width: auto;
    max-width: 100%;
    margin: 0.5rem 1rem;
  }
}
