@use './globals' as g;
@use './App.scss' as a;
@use './colours.scss' as c;



// .home {
//   background-color: c.$rtc-background !important;
// }

.tool-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tool-card {
  position: relative;
  width: 20%;
  max-width: 40%;

  border-radius: 1rem;
  overflow: hidden;

  // background-color: c.$rtc-primary;
  color: c.$rtc-text;
  
  font-weight: 400;

  @include a.layer-6;
  @include a.box-shadow;

  .-title {
    position: absolute;
    top: 0.5rem;
    left: 50%; /* Set the title to be at the horizontal center */
    transform: translateX(-50%); /* Adjust horizontally for centering */
    width: 100%;
    text-align: center;
    font-weight: 800;
    z-index: 1;
    color: white;
  }

  .-image-container {
    width: 100%;
    padding-bottom: calc(100% * 2/3); /* Maintain a 3:2 aspect ratio (2/3 = 0.6667) */
    position: relative;
  }

  .-image {
    position: absolute;
    transform: translateX(-50%); /* Adjust horizontally for centering */
    // no idea why that ^ was necessary
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .-description {
    padding: 1rem;
    word-wrap: break-word;
  }

  &:hover {
    // background-color: c.$rtc-secondary;
    color: c.$rtc-text;
    transform: scale(1.02);
    @include a.box-shadow-dark;
  }
}

.arcana-header {
  font-size: 400%;
  text-align: center;
}

.intro-blurb {
  margin: 1rem auto;
  width: 70%;
  font-size: 125%;
}

.normal-text {
  color: inherit; /* Inherit the color from parent */
  text-decoration: none; /* Remove underlines or other decorations */
  font-weight: normal; /* Reset font weight to normal */
  /* Add other styling properties as needed */
}










/* Media query for smaller screens (e.g., phones) */
@media (max-width: 768px) {
  .tool-container {
    display: flex;
    flex-direction: column;
  }

  .tool-card {
    width: auto;
    max-width: 100%;
    margin: 0.5rem 1rem;
  }
}
