@use './globals.scss' as g;
@use '../App.scss' as a;
@use './colours.scss' as colours;

.navbar {
  // height: 40px;
}

.nav-item {
  // @include a.box-shadow;
  
  padding: 0.25rem;
  border: 0px;
  border-radius: 0.5rem;
  color: black;
  text-decoration-line: none;

  &:hover {
    @include a.box-shadow;

    // padding-left: 0.5rem;
    // padding-right: 0.5rem;
    background-color: colours.$light-2;
  }

  &:active {
    @include a.layer-6;
  }
}