@use './globals.scss' as g;
@use './App.scss' as a;
@use './colours.scss' as c;

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
  // font-family: 'Borel', cursive;


@mixin base-text-colour {
  color: c.$dark-3;
}

.navigation-bar {
  @include a.layer-4;
  @include a.box-shadow-light;

  height: 4rem;

  display: flex;
  // position: sticky;
  transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}

.nav-brand {
  display: flex;
  align-items: center;
  padding: 0;
}

.nav-brand-text {
  @include base-text-colour;
  
  // font-family: 'Borel', cursive;
  font-weight: 700; // bold
  font-size: 130%;
  // vertical-align: text-top;
  // line-height: 0;
  // height: 100%;
  position: relative;
  bottom: 0.025rem;
}

.nav-item {
  @include base-text-colour;
  @include a.shadow-transition;

  display: flex;
  align-items: center;
  
  padding: 0.25rem !important;

  border: 0px;
  border-radius: 0.5rem;
  text-decoration-line: none;
  font-weight: 600; // semi-bold
  

  &:hover {
    @include a.box-shadow-light;
    // @include a.layer-4;
  }

  &:active {
    @include a.layer-1;
    // background-color: c.$rtc-accent;
  }

  // &__text {
  //   padding-left: 0.5rem;
  //   padding-right: 0.5rem;
  // }

  // & {
  //   text-decoration-line: none;
  //   font-weight: 600; // semi-bold
  // }

  & > a {
    padding: 0.5rem;
    text-decoration-line: none;
    font-weight: 600; // semi-bold
    @include base-text-colour;
  }

  .nav-link {
    & nav-link__text {
      @include base-text-colour;
    }
  }
}





.nav-middle {
  display: flex;
  justify-content: center;
}

.creator-tag {
  @include base-text-colour;
  font-weight: 300;
  opacity: 50%;

  .-name {
    font-weight: 500;
  }
}

.nav-divider {
  width: 60%;
  margin: 0 auto;
  // margin-bottom: 1rem;
}


.nav-dropdown {
  a {
    &:active {
      @include base-text-colour;
    }
  }
}

.dropdown-item {
  &:active {
    background-color: c.$light-2 !important;
  }

  &.active {
    background-color: c.$light-1 !important;
  }

  a {
  font-weight: 600 !important;
  text-decoration: none !important;
  }
}




@media (max-width: 768px) {
  .nav-middle {
    justify-content: flex-start;
  }
}

@media (min-width: 800px) {
  .nav-middle-nav {
    gap: 0.5rem;
  }
}



.navbar {
  height: 4rem;
}