@use './App' as a;

.bx {
  margin: 0;
  padding: 10px 10px;
}

// .container {
//   height: 2000px;
// }

.user-card {
  padding: 1rem;
  border: 2px solid black;

  p {
    font-weight: 400;
  }
}

.user-card-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  gap: 0.5rem;
}

dialog {
  position: absolute;
}

.reward-item {
  // @include a.layer-6;

  // padding: 1rem;
  // font-size: 200%;

  // border: 1px solid red;
}


.image-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 400px;

  &__buttons {
    gap: 0.5rem;
  }
}

.test-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}