@use './App.scss' as a;
@use './colours.scss' as c;



.trading-post-tracker {
  height: a.$wrapper-height;
}

.sorting-row {
  padding: 0.5rem;
  // margin-bottom: 0.5rem;
}

.tool-row {
  padding: 0.5rem;
}

.gallery {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0.5rem;

  overflow: auto;
  overflow-x: hidden;

  transition: all 0.2s ease-in-out;
}

// this line kind of makes no sense and is broken based on how the gallery is currently constructed
// I could put the filter gallery ITEMS inside a div of its own. that would fix that to an extent I think
.filter-gallery {
  .gallery-item {
    img {
      max-width: 50%;
    }
  }
}

.gallery-item {
  position: relative;
  flex: 1 0 calc((100% / 3) - 0.5rem);
  // width: calc(100% / 3);
  height: auto;
  font-size:70%;
  border-radius: 0.5rem;
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
  }

  &__price {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;

    font-size: 2;
    font-weight: 600;
    color: white;

    opacity: 25%;

    transition: all 0.3s ease-in-out;
  }

  .reward-icon-button {
    position: absolute;
    scale: 1.5;
    color: white;
    
    &.collected-icon {
      top: 0.5rem;
      right: 0.5rem;

      &.not-collected {
        opacity: 25%;
      }

      &.collected {
        scale: 2;
        color: greenyellow;
        opacity: 100%;
      }
    }

    &.tracked-icon{
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      
      &.not-tracked {
        opacity: 25%;
      }
      
      &.tracked {
        scale: 2;
        color: rgb(57, 176, 255);
        opacity: 100%;
      }
    }

    &:hover {
      scale: 2;
    }

    transition: all 0.2s ease-in-out;
  }

  &:hover {
    scale: 1.05;
    box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.25);

    .gallery-item__price {
      scale: 1.25;
      opacity: 100%;
    }
  }

  transition: all 0.5s ease-in-out;
}






.details {
  overflow: auto;

  .details__image {
    width: 100%;
    height: auto;

    border-radius: 0.5rem;
  }

  .details__data {
    @include a.layer-6;
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
  }
}

.data-text {
  font-size: 200%;
  // font-weight: 600;

  &.-name {
    // font-size: 300%;
    font-weight: 800;
    border-bottom: 2px solid c.$dark-3;
  }

  // &.-tags {

  // }

  & .-price {
    font-weight: 500;
  }
}




.flex-contain {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.b {
  padding: 0.5rem;
  border: 1px solid black;
}

// .details__controls {
//   // display: flex;
// }



.sorting-bar {
  @include a.layer-6;

  padding: 0.5rem;
  width: 100%;
  height: 100%;

  border-radius: 0.75rem;
}


// --- scroll bar
// ::-webkit-scrollbar {
//   width: 0.75rem;
// }
::-webkit-scrollbar-track {
  border-radius: 1rem;
  // @include a.layer-5();
}
// ::-webkit-scrollbar-thumb {
//   // @include a.layer-3();
//   // border-radius: 1rem;
//   // background-clip: padding-box;
// }

.alert {
  &.tracking-alert {
    padding: 0.5rem;
  }
}