@use './styles/globals' as g;
@import './styles/colours.scss';


// --- mixins // --- layers
@mixin layer-1 {
  background-color: $mid-3;
}
@mixin layer-2 {
  background-color: $mid-2;
}
@mixin layer-3 {
  background-color: $mid-1;
}
@mixin layer-4 {
  background-color: $light-3;
}
@mixin layer-5 {
  background-color: $light-2;
}
@mixin layer-6 {
  background-color: $light-1;
}

* {
  // @include layer-4;
  box-sizing: border-box;
  font-family: 'Cera Round Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
}

.box {
  // margin: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid whitesmoke;

  &.red { 
    border-color: red;
  }
}

.svh-100 {
  height: 100svh;
}

// --- layer classes
.layer-1 {
  @include layer-1
}
.layer-2 {
  @include layer-2
}
.layer-3 {
  @include layer-3
}
.layer-4 {
  @include layer-4
}
.layer-5 {
  @include layer-5
}
.layer-6 {
  @include layer-6
}

.container {
  // border: 1px solid red;
}

.row {
  // border: 1px solid whitesmoke;
}

.col {
  // border: 1px solid red;
}

// ----- ACTUAL CLASSES ----- //

.navbar {

}

.translate-screen {
  .row {
    // padding: 0.25rem;
    // width: 100%;
    // border: 1px solid red;
  }

  .col {
    border-radius: 0.25rem;
  }
}

.translate-bar {
  @include layer-4();
  height: 200px;
}

.App {
  @include layer-4;
  
  display: flex;
  flex-direction: column;
  height: calc(100svh);

  border: 2px solid red;
}

.app-wrapper {
  height: 100%;
  border: 2px solid blueviolet;
}

.settings-card {
  @include layer-5;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: $dark-3;
  box-shadow: 0.25rem;
}

.settings-nav {
  border-radius: 0.5rem;
  flex-grow: 3;
}

.st-input {
  min-width: 50%;
  border: 0;
  border-radius: 0.25rem;
  height: 2.5rem;
}

.dangerous-button {
  background-color: rgb(220, 100, 100);
  // I need to add 'on hover' styles
}